@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.menubar-text {
	font:menu!important;
	padding-top:2px!important;
	padding-bottom:2px!important;}

menubar > menu {
	-moz-appearance:none!important;
	background:transparent!important;}

menubar > menu[_moz-menuactive="true"]:not([disabled="true"]):active,
menubar > menu[_moz-menuactive="true"][open="true"]{
	color:HighlightText!important;
	background:Highlight!important;}

#TabsToolbar {
	-moz-appearance: none !important;
	background-color:#fbfbfb !important;
	margin-top:2px;
	border:none;}

#nav-bar {
	-moz-appearance: none !important;
	background:#fbfbfb !important;}